body {
    background-color: red;
    color: white;
}


@media screen and (min-width: 600px) {
    body {
        background-color: blue;
        
    }
}
@media only screen and (min-width: 900px) {
    body {
        background-color: rgb(104, 143, 188);
        
    }
}
