body {
    background-color: red;
    color: white;
}

img {
    width: 100%;
}

@media screen and (min-width: 320px) {
    body {
        background-color: yellow;
        color: black;
    }
}

@media screen and (min-width: 600px) {
    body {
        background-color: blue;
        color: white;
    }
}
@media only screen and (min-width: 900px) {
    body {
        background-color: rgb(104, 143, 188);   
    }

    img {
        width: 40%;
        float: right;
    }
}

@media only screen and (min-width: 1600px) {
    body {
        background-color: rgb(185, 210, 214);
        color: black;
    }
}
